<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>User Registration</h1>
            <!-- <ngb-alert *ngIf="!closed && message" (close)="closed=true" type="success">{{ message }}</ngb-alert> -->
            <form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="fullName" class="form-control input-underline input-lg" id="" placeholder="{{ 'Full Name' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="email" formControlName="email" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" minlength = "5" formControlName="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" minlength="5" formControlName="repeatPassword" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }}">
                    </div>
                    <p>
                        Form Status: {{ registerForm.status }}
                      </p>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!registerForm.valid">{{ 'Register' | translate }}</button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div>
